.completdChallengesContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;

	margin: 1.5rem 0;
	padding-bottom: 1rem;
	border-bottom: 1px solid #D7D8DA;

	font-weight: 500;
}

.completdChallengesContainer span:first-of-type {
	font-size: 1.25rem;
}

.completdChallengesContainer span:last-of-type {
	font-size: 1.5rem;
}
